.ui.tag {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 4px 10px 5px;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  border-radius: 4px;
  text-shadow: none;
  align-items: center;
  color: #008471;
  border: 1px solid #e0f0ee;
  background-color: #e0f0ee;
  min-height: 20px;
  cursor: pointer;
}

.ui.tag .tags-close-icon {
  margin-left: 7px;
}
